<tbody>
  <!-- foreach ($order->lineItems as $line) or some such thing here -->
  <% @invoice.order_items.each do |x| %>
  <tr>
    <td><%= x.product_id %></td>
    <td class="text-center">$<%= x.unit_price %></td>
    <td class="text-center"><%= x.quantity %></td>
    <td class="text-right">$<%= x.total_price %></td>
  </tr>   
  <% end %>
</tbody>