<tbody>
  <!-- foreach ($order->lineItems as $line) or some such thing here -->
  <% @invoice.order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.product_id %></td>
    <td class="text-center">$<%= order_item.unit_price %></td>
    <td class="text-center"><%= order_item.quantity %></td>
    <td class="text-right">$<%= order_item.total_price %></td>
  </tr>   
  <% end %>
</tbody>