<tbody>
  <!-- foreach ($order->lineItems as $line) or some such thing here -->
  <tr>
    <td>order_item.name</td>
    <td class="text-center">$10.99</td>
    <td class="text-center">1</td>
    <td class="text-right">$10.99</td>
  </tr>
                <tr>
      <td>BS-400</td>
    <td class="text-center">$20.00</td>
    <td class="text-center">3</td>
    <td class="text-right">$60.00</td>
  </tr>
                <tr>
        <td>BS-1000</td>
    <td class="text-center">$600.00</td>
    <td class="text-center">1</td>
    <td class="text-right">$600.00</td>
  </tr>
  
</tbody>