<h1>Homepage</h1>
  
Hi, <%= current_user.name %>
<h2>Category Bar</h2>
  <div><%= link_to "CPUs", cpus_path %></div>
  <div><%= link_to "Monitors", monitors_path %></div>
  <div><%= link_to "Keyboards", keyboards_path %></div>
<hr>

<h2>User Nav</h2>
  <div>Cart</div>
  <div>User</div>  
<hr>

<h2>Filter Menu</h2>
  <div>Primary</div>
  <div>Secondary</div>
<hr>
