<h1>Homepage</h1>

<!-- Begin Category Nav -->  
<%= render 'shared/category_nav' %>
<!-- End Category Nav -->

<div>
  <div><%= link_to "Cart", cart_path %></div>
  <div><%= link_to "User", user_page_path %></div>
</div>

<hr>

<%= render "shared/application_footer" %>