<%= render 'shared/category_nav' %>
<h1>User Page</h1>
<h4>Shipping Address</h4>
Address 1
<br>Address 2 *default 
<h4>Order History</h4>

<p>The sum is:</p><%= @sum %> <br>
Invoice | Date Created | Tracking | Total
<br>

<br>
<% @order_items.each do |order_item| %>
  <%= link_to order_item.id, invoice_path(order_item) %>
  <%= order_item.created_at.strftime("%m-%d-%Y") %>
  <%#= link_to order_item.tracking , "#"  %>
  <%#= order_item.total %>  
  <br>
<% end %>