<div class="row">
  <div class="col-md-3">
    <%= link_to (image_tag product.main_image ), product_path(product) unless product.main_image.nil?  %>
  </div>
  <div class="col-md-8">
    <div class="info">
      <div class="row">
        <div class="col-md-5 product-name">
          <div class="product-name">
            <%= product.name %>        
          </div>
        </div>
        <div class="col-md-4 quantity">          
          <%= order_item.quantity %>
        </div>
        <div class="col-md-3 price">
          <span><%= order_item.unit_price %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
