<%= form_for(credit_card) do |f| %>
  <% if credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
      <% credit_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>          
    <div class="card-details">
      <h3 class="title">Credit Card Details</h3>
      <div class="row">
        <div class="form-group col-sm-7">
          <label for="card-holder">Card Holder</label>
          <input name="credit_card[name]" id="credit_card_name" type="text" class="form-control" placeholder="Card Holder" aria-label="Card Holder" aria-describedby="basic-addon1">
        </div>
        <div class="form-group col-sm-5">
          <label for="">Expiration Date</label>
          <div class="input-group expiration-date">            
            <input type="text" name="credit_card[expiration_mm]" id="credit_card_expiration_mm" class="form-control" placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">
            <span class="date-separator">/</span>            
            <input type="text" name="credit_card[expiration_yy]" id="credit_card_expiration_yy" class="form-control" placeholder="YY" aria-label="YY" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="form-group col-sm-8">
          <label for="card-number">Card Number</label>          
          <input name="credit_card[card_number]" id="credit_card_card_number" type="text" class="form-control" placeholder="Card Number" aria-label="Card Holder" aria-describedby="basic-addon1">
        </div>
        <div class="form-group col-sm-4">
          <label for="cvc">CVC</label>          
          <input name="credit_card[cvc]" id="credit_card_cvc" type="text" class="form-control" placeholder="CVC" aria-label="Card Holder" aria-describedby="basic-addon1">
        </div>
        <div class="form-group col-sm-12">   
          <input type="submit" name="commit" value="Proceed" class="btn btn-primary btn-block" >          
        </div>       
      </div>
    </div>
  </form>
<% end %>