<div class="col-md-3">               
  <div class="card mb-3 box-shadow">
    <%= link_to (image_tag item.main_image ), item_path(item) unless item.main_image.nil?  %>                
    <div class="card-body">
      <%= item.price %>
      <%= item.brand %>
      <%= item.primary %>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
        </div>                   
      </div>
    </div>                
  </div>
</div>