<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Brand</th>
      <th>Primary</th>
      <th>Secondary</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>    
    <%= render @items %>   
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>

<div class="album text-muted">
  <div class="container">

    <!--
    <%#= source_helper("alert alert-warning") %>
    
    <div class="row <%#= "sortable"  %>">
        <%#= render partial: '_item', collection: @items %>
    </div>
    -->
  </div>
</div>