@import "bootstrap";

/*
 * Carts
 */

.product-name {
  margin: auto;
  width: 50%;
  text-align: center;
}

.info {
  margin-top: 50px;  
  text-align: center;
}

.billing-summary {
  position: absolute;
  top: 90%;
}

.payment {
  padding-left: 50px;
}

/*
 * admin_inventory
 */

.td, .td-text {
  margin-top: 80px; 
  text-align: center;
}

/*
 *  Amdmin
 */

.admin-page {
  font-size: 25px;
  color: black;
}