<div class="col-md-3">               
  <div class="card mb-3 box-shadow">
    <%= link_to (image_tag product.main_image ), product_path(product) unless product.main_image.nil?  %>                
    <div class="card-body">
      <%= product.price %>
      <%= product.brand %>
      <%= product.filter_primary %>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" >Add</button>
        </div>                   
      </div>
    </div>                
  </div>
</div>